.home {
    display: none;
}

.menu-button {
    font-family: 'Nerko One';
}

.start-btn {
    color: #A4C82A;
}

.settings-btn {
    color: #F9B901;
}

.sound-btn {
    color: #8079D1;
}

.music-btn {
    color: #F76079;
}

.game-board-container {
    position: absolute;
    top: 80px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.card img {
    position: absolute;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
