.main-menu {
    display: auto;
}

.game {
    position: absolute;
    top: 10px;
    right: 80px;
    display: flex;
}

.game-board {
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.card {
    background-color: blue;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    position: absolute;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}
